.comment-section {
    display: flex;
    margin: 10px;
    border-bottom: 1px solid;
    padding: 10px 0px;
}
.comment-head{
    margin-right: 10px;
}
.comment-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comment-body h4 {
    font-weight: 900;
}